streamlit>=1.30

# Data processing
pandas>=2.0
numpy>=1.24

# Machine learning
scikit-learn>=1.3

# Plotting & visualization
matplotlib>=3.6
seaborn>=0.12
plotly>=5.18

# Images / HTTP requests
Pillow>=10
requests>=2.31


